# Python compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# Anaconda / Environments
env/
venv/
ENV/
.conda/
psee_env/

# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IDE / OS
.DS_Store
.vscode/
.idea/

# Saved charts and outputs
# Ignore everything inside results/ EXCEPT the .gitkeep file
results/*
!results/.gitkeep
reports/

# Ignore loose PNGs
*.png
!docs/*.png